body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}
#nav {
    background-color: #f2f3f4;
    border-bottom: #0056b3;
}
#brand {
    color: grey
}
.nav-link {
    color: grey
}
.bgimg {
    height: 100vh;
    position: relative;
}
.bg_image {
    position: absolute;
    max-width: 100%;
    top: 42px;
    bottom: 100%;
    transform: scale(200%);
    object-fit: cover;
    opacity: 0.25;
    z-index: -1;
}
.heading {
    font-size: 1.3rem;
    font-weight: 400;
    padding-left: 16px;
    color: #4e4848;
}
.project_highlights {
    padding-top: 50px;
}
.proj_img {
    padding-top: calc(2 / 3 * 100%); /*aspect ratio 3:2 */
    background-size: cover;
    background-position: center;
}
.proj_format {
    font-size: 1.3rem;
}
.proj_sum {
    font-size: 1.1rem;
}
.proj_lang {
    font-size: 1rem;
    font-weight: 500;
}
/* LG Breakpoint */
@media (min-width: 992px) {
    .bg_image {
        position: fixed;
        max-width: 100%;
        top: 105px;
        bottom: 100%;
        transform: scale(200%);
        object-fit: cover;
        opacity: 0.25;
        z-index: -1;
    }
    .project_highlights {
        padding-top: 100px;
    }
    .heading {
        padding-left: 31px;
    }
}
